@import '../Components/Base';

.col {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    flex: 1 0 0%;

    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

    margin-left: calc(var(--gutter) / -2);
    margin-right: calc(var(--gutter) / -2);
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);

    // Default to 100% height for all columns
    height: 100%;
}


@for $i from 1 through 12 {
    .col-#{$i} {
        @extend .col;
        flex: 0 0 (100% / 12) * $i;
        max-width: (100% / 12) * $i;
    }

    .col-offset-#{$i} {
        margin-left: (100% / 12) * $i;
    }

    .col-sm-#{$i} {
        @include bp-sm {
            flex: 0 0 (100% / 12) * $i !important;
            max-width: (100% / 12) * $i !important;
        }
    }
    .col-sm-offset-#{$i} {
        @include bp-sm {
            margin-left: (100% / 12) * $i !important;
        }
    }

    .col-md-#{$i} {
        @include bp-md {
            flex: 0 0 (100% / 12) * $i !important;
            max-width: (100% / 12) * $i !important;
        }
    }
    .col-md-offset-#{$i} {
        @include bp-md {
            margin-left: (100% / 12) * $i !important;
        }
    }

    .col-lg-#{$i} {
        @include bp-lg {
            flex: 0 0 (100% / 12) * $i !important;
            max-width: (100% / 12) * $i !important;
        }
    }
    .col-lg-offset-#{$i} {
        @include bp-lg {
            margin-left: (100% / 12) * $i !important;
        }
    }
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-order-first {
    order: -1;
}

.col-order-last {
    order: 13;
}

.col-pull-left {
    right: auto;
    left: 0;
}

.col-pull-right {
    right: 0;
    left: auto;
}

.col-content-justify-center {
    justify-content: center;
}

.col-content-justify-start {
    justify-content: flex-start;
}

.col-content-justify-end {
    justify-content: flex-end;
}