@import '../Components/Base';

.container {
    width: var(--container-md);
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);


    @include bp-sm {
        width: var(--container-sm);
        max-width: 100%;
    }

    @include bp-md {
        width: var(--container-md);
    }

    @include bp-lg {
        width: var(--container-lg);
    }
}