@import '../Components/Base';
.container {
    width: 100%;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-right: auto;
    margin-left: auto;


    @media (min-width: 576px) {
        max-width: var(--container-xs);
    }

    @media (min-width: 768px) {
        max-width: var(--container-sm);
    }

    @media (min-width: 992px) {
        max-width: var(--container-md);
    }

    @media (min-width: 1200px) {
        max-width: var(--container-lg);
    }

    @media (min-width: 1300px) {
        max-width: var(--container-xl);
    }
}