@import '../Components/Base';
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: calc(var(--gutter) / -2);
    margin-right: calc(var(--gutter) / -2);
    margin-top: calc(var(--gutter) * -1);
    gap: var(--gutter);

    & > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--gutter) * .5);
        padding-left: calc(var(--gutter) * .5);
        margin-top: var(--gutter);
    }
}