@import './Base';

section.contact {
    .contact__title {
        font-size: 65px;
        line-height: 95px;
        font-weight: 900;
        color: var(--color-white);

        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .contact__text {
        font-weight: 600;
        line-height: 28px;
        font-size: 23px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        color: var(--color-orange);
        padding: 0;
        text-align: center;
        width: 100%;

        &.smaller {
            font-size: 56px;
            line-height: 68px;
        }
    }

    #hubspotForm {
        background: var(--background-two);
        padding: var(--gutter);
        border-radius: var(--gutter);
        margin: 60px 0;
    }
}