@import './Base';

footer.footer {
    background-color: var(--background-two);
    width: 100%;
    height: auto;
    color: var(--color-white);

    padding: 2em 15px;

    a, a:visited, a:active, a:hover {
        color: var(--color-white);
    }

    img.header__logo {
        height: 62px;
        margin-left: 16px;
        display: inline-block;
        float: left;
        max-height: 62px;
    }
}