@import '../Components/Base';

section.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;

    padding: 6em 0;

    &:first-of-type {
        height: calc(100vh - 300px);

        .container {
            height: 100%;

            .row {
                height: 100%;
            }
        }
    }

    .hero__logo {
        display: block;
        max-width: 100%;
        max-height: 316px;
        height: auto;

        &.spread-width {
            width: 100%;
            height: auto;
            max-height: unset;
        }
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;

        flex: none;
        order: 1;
        flex-grow: 0;

        .hero__title {
            // semibold 23px
            font-size: 23px;
            font-weight: 600;
            // 1.5 line height
            line-height: 28px;
            // Color orange
            color: var(--color-orange);

            margin: 0;
            padding: 0;
        }

        .hero__text {
            font-size: 76px;
            font-weight: 900;
            line-height: 95px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--color-white);
            margin: 0;
            padding: 0;

            &.smaller {
                font-size: 56px;
                line-height: 68px;
            }
        }

        .hero__description {
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 23px;
            color: var(--color-gray-ish);
        }

        .hero__button {
            &.margin {
                margin-top: 56px;
            }
        }
    }

    @include bp-sm {
        padding: 1em 16px;
        .hero__content {
            .hero__text {
                font-size: 48px;
            }
            .hero__button {
                &.margin {
                    margin-top: 32px;
                }
            }
        }
    }
}