@import 'Base';

section.services {
    background-color: var(--background-two);
    color: var(--color-white);

    padding: 6em 0;

    @include bp-md {
        padding: 0 16px;
    }

    h2.services__title {
        color: var(--color-orange);
        text-align: center;
        margin-bottom: 2em;
        width: 100%;
        font-style: normal;
        font-weight: 900;
        font-size: 56px;
        line-height: 68px;

        @include bp-md {
            font-size: 40px;
            line-height: 48px;
            margin: 1em 0;
        }
    }

    .services__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex: 1 1 auto;
        width: 100%;
        gap: 16px;
        padding: 0 8px 32px;

        .services__item-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: fit-content;
            padding: 0;
            margin: 0 auto;
            text-align: left;
        }    

        img.services__icon {
            // Netu moved icons to the left and rejigged the title because the icons were centered before, but looked "off" as each title is a different size
            display: block;
            margin: -120px; // Netu is not good at this.
            max-height: 48px;
            width: 307px;
            object-fit: contain;
        }

        h3.services__item-title {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            text-align: left;
            padding: 0;
            margin-left: 0; // Netu is not good at this.
        }

        p.services__item-description {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            padding: 0;
            margin: 0;
        }
    }

}