section.services {
    background-color: var(--background-two);
    color: var(--color-white);


    h2.services__title {
        color: var(--color-orange);
        text-align: center;
        margin-bottom: 32px;
        width: 100%;
        font-style: normal;
        font-weight: 900;
        font-size: 56px;
        line-height: 68px;
    }

    .services__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        width: 100%;
        gap: 16px;
        padding: 0 8px 32px;

        img.services__icon {
            // Image needs to be centered, max height 64px
            display: block;
            margin: 0 auto;
            max-height: 64px;
            width: auto;
        }

        h3.services__item-title {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            padding: 0;
            margin: 0;
        }

        p.services__item-description {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            padding: 0;
            margin: 0;
        }
    }

}