section.stack {
    .stack__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 64px 0px;
        gap: 9px;
        overflow: visible;

        .stack__col {
            height: 118px;
            align-items: center;

            .stack__item {
                background: var(--background-two);
                height: 100%;
                width: 100%;
                border-radius: 20px;
                max-width: 194px;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    width: 154px;
                    display: block;
                    max-width: 100%;
                    max-height: 100px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}